html, body {
  background-color: #fff;
  color: #636b6f;
  font-weight: 100;
}

header{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 90%;
  vertical-align: baseline;
}

b{
  color: #ff4a83;
}

table.table-bordered{
  border: 1px solid #ff4a83;
  margin-left: 15%;
  margin-top: 10px;
}

table.table-bordered > thead > tr > th{
  border: 1px solid #ff4a83;
}

table.table-bordered > tbody > tr > td{
  border: 1px solid #ff4a83;
}

table.table{
  border-bottom: 1px solid #ff4a83;
  border-top: none;
}

table.table > thead > tr > th{
  border-bottom: 1px solid #ff4a83;
  border-top: none;
}

table.table > tbody > tr > td{
  border-bottom: 1px solid #ff4a83;
  border-top: none;
}

table.cart{
  border-collapse: collapse;
  width: 100%;
}

table.cart > thead > tr > td{
  text-align: left;
  border-bottom: 1px solid #ff4a83;
}

table.cart > tbody > tr > td{
  text-align: left;
  border-bottom: 1px solid #ff4a83;
}

table.cart > tfoot > tr > td{
  padding-top: 20px;
}

hr{
  border-color: #ff4a83;
}

#top-bar{
  width:100%;
  margin: 10px 5px 5px 5px;
}

.big-logo{
  float: right;
}

.right-bar{
  padding-top: 1%;
  padding-right: 9%;
}

.bar{
  float: right;
}

.dropbtn {
  background-color: transparent;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  width: 100%;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 5px 5px 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: transparent;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}

.cart > a {
  color: #636b6f;
}

.notif > a{
  color: #636b6f;
}

.count {
    background: #ff4a83 !important;
    border: 1px solid #ff4a83 !important;
    color: #ffffff;
}
.badge {
    font-size: 10px;
    font-weight: normal;
    line-height: 12px;
    position: relative;
    right: 11px;
    top: 8px;
}

.link{
  color: #636b6f;
}

.modal{
  padding: 50px;
}

.modal .imgcontainer{
  padding-right: 20px;
  padding-top: 10px;
  margin-left: 20px;
}

.modal .container{
  text-align: justify;
  padding-left: 10%;
  padding-bottom: 10px;
}

.modal .btn-modal{
  padding-bottom: 20px;
  text-align: center;
}

.header-menu{
  text-align: center;
  margin-top: 20px;
  padding-left: 7%;
}

.header-menu > a {
  color: #636b6f;
  font-size: 23px;
  margin-right: 10px;
}

.header-menu a:hover {
  color: #ff4a83;
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 10px;
  top: 18px;
}

.content {
  margin: 20px;
  padding: 15px;
}

.title {
  font-size: 84px;
}

.links > a {
  color: #636b6f;
  padding: 0 25px;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.m-b-md {
  margin-bottom: 30px;
}

.container-fluid{
  margin-top: 40px;
  margin-bottom: 5%;
}

.row{
  margin-top: 50px;
}

.btn-submit{
  background-color: #ff4a83;
  color: #ffffff;
}

.y-title{
  box-sizing: border-box;
  padding: 1px 5px 6px;
  margin-bottom: 20px;
  margin-right: 25%;
}

.input-group{
  margin-bottom: 15px;
}

.button-class{
  float: right;
  padding-right: 20px;
  padding-top: 20px;
}

.btn-class{
  padding-left: 75%;
}

.login-form{
  border-right: 3px solid #ff4a83;
  padding-left: 50px;
}

.regist-form{
  padding-left: 50px;
}

.profile-page{
  padding: 30px;
}

.profile{
  padding-left: 10%;
}

.img-product{
  border: 3px solid #ff4a83;
  margin-right: 5px;
  margin-bottom: 20px;
}

.img-product h3{
  color: #ff4a83;
  text-align: center;
}

.img-product h4{
  text-align: center;
}

.img-product:hover{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

.img-thumbnail{
  width: 100%;
}

.filter{
  position: fixed;
  top: 50%;
}

.btn-filter{
  background-color: #ff4a83;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  margin: 5px 2px;
  border-radius: 50%;
  float: right;
  display: block;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cart-table{
  margin-bottom: 50px;
}

.cart-table-img{
  width: 150px;
  height: 150px;
}

.footer{
  width:101.5%;
  background-color:#ff4a83;
  color: #ffffff;
  height:4vh;
  font-size: 15;
  text-align: center;
  position: static;
  padding-right: 10px;
}